body{
margin:0;
padding:0;
background:#161616;
font-family: 'Balsamiq Sans', cursive;
overflow-x:hidden;
display:flex;
min-height:100vh;
flex-direction:column;
}
#forfooter{
flex:1;
}
header{
background:#292929;
height:75px;
}
nav h2 { 
display:inline;
color:#fff;
}
nav{
margin-left:25px;
margin-top:25px;
}
nav a:active{
background:#45a049;
}
nav a{
text-decoration:none;
color:#fff;
border:1px solid #fff;
margin:30px;
padding:10px;
font-size:20px;
font-family: 'Balsamiq Sans', cursive;
}
nav a:hover{
letter-spacing:5px;
background: -webkit-linear-gradient(#292929,#45a049);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
margin-left:20px;//custom
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.section{	
background:#292929;
margin:20px;
border:1px solid #fff;
border-radius:10px;
height:700px;
}

.section img{
width:400px;
border-radius:50%;
display: block;
margin: 0 auto;
opacity:0.6;
}

.text-block
{
margin:10px;
position:absolute;
font-family: 'Balsamiq Sans', cursive;
font-size:20px;
}



.text-block h1{
top:0; 
color:#fff;
animation:3s ani 1;
 }
@keyframes ani{
  
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.text-block h1:hover{
letter-spacing:20px;
background: -webkit-linear-gradient(#292929,#45a049);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.text-block p {
color:#ccc;
display:inline-block;
}

.text-block a{
text-decoration:none;
border:2px solid #fff;
color:#fff;
padding:2px;
}

.text-block a:hover
    {
      box-shadow: 0 0 10px #ccc;
      border:2px solid #45a049;
    }
.text-block h2
    {
color:#fff;
     }

span{
color:#45a049;
}
















footer{
background:#292929;
padding:20px;
}
 .alignclass{
text-align:center;
}
.alignclass h3{
color:#fff;
font-size:25px;
}
footer a{
color:#fff;
font-size:30px;
margin:50px;
}


/*contact html*/

#submithead{
color:#fff;
text-align:center;
font-family: 'Balsamiq Sans', cursive;
}

 .contact
{
height:500px;
}

.contact form{
width:80%;
height:80%;
background:#292929;
margin:0 auto;
margin-top:100px;
border-radius:15px;
padding-top:50px;
}

.contact form input{
display:block;
margin:0 auto; 
margin-top:20px;
}

.contact form input[type=text],input[type=email],input[type=textarea]
{
  width: 40%; /* Full width */
  padding: 15px; /* Some padding */ 
  border: 2px solid #ccc; /* Gray border */
  border-radius:20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top:20px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
} 


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#161616;
  color:#fff;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
font-family: 'Balsamiq Sans', cursive;
font-size:15px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contact form label{

   display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;

font-size:30px;
color:#fff;
font-family: 'Balsamiq Sans', cursive;
}

/* projects html */


.content{
font-family: 'Balsamiq Sans', cursive;
letter-spacing:2px;
text-transform:uppercase;
margin:20px;
position:relative;
display:inline-block;
border:1px solid #fff;
border-radius:15px;
background:#292929;
color:#fff;
font-size:12px;
}
.content h2{
text-align:center;
}

.content p{
//text-align:left;
font-size:15px;
padding:5px;
}
.content a{
font-size:40px;
color:#FFF;
}


.content:hover{
transform: translate(20px, 10px);
border:2px solid #161616;
}
.content a:hover{
color:#45a049;
}



/* education html*/

.maintab{

position:relative;
margin:10px;
padding:0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color:#292929;
border-radius:10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color:inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color:#fff;
 font-family: 'Balsamiq Sans', cursive;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:#45a049;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  color:#fff;
 border-radius:10px;
}

.tabcontent a{
text-decoration:none;
color:#45a049;
}


.skcer{
font-family: 'Balsamiq Sans', cursive;
display:inline-block;
border:1px solid #fff;
margin:30px;
border-radius:20px;
background:#292929;
padding:20px;
color:#fff;
}

body.dark-mode {
  background:#fcfcfc;
  transition:background 2s,color 2s;
}

@media only screen and (max-width: 600px) {
.section{
   height:1050px;
  }
header{
height:110px;
}
nav a
{
padding:5px;
//margin-top:20px;
margin:5px;
display:inline-block;
}

nav a:hover{
letter-spacing:2px;
}

 nav h2{
display:inline-block;
margin-left:10px;
font-size:20px;
}

.section img{
width:300px;
border-radius:50%;
display:block;
margin:0 auto;
}

.section{
	
margin:10px;

}

.text-block h1:hover{
letter-spacing:5px;
background: -webkit-linear-gradient(#292929,#45a049);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

}





//home tab and common

body.dark-mode {
  background:#fcfcfc;
}
.dark-mode .section {
  background:#ebebeb;
}

.dark-mode .section img{
opacity:1;
}

.dark-mode .text-block h1 {
  color:#292929;
}

.dark-mode .text-block p{
  color:#292929;
}

.dark-mode .text-block a {
  border-color:#292929;
}

.dark-mode .text-block h2
    {
color:#292929;
     }



.dark-mode footer{
  background:#ebebeb;
}
.dark-mode header{
  background: #ebebeb;
}
.dark-mode #modename{
 color: #292929;
}
.dark-mode a{
  color: #292929;
}
.dark-mode h3{
  color: #292929;
}

.dark-mode .aforborder{
  border:2px solid #292929;
}

//from here projects tab

//from contact

.dark-mode #Gform{
background:#ebebeb;
color:#292929;
}

.dark-mode #submithead{
color:#292929;
}

.dark-mode #Gform input[type=text], input[type=email], input[type=textarea]{
color:#292929;
background:#ebebeb;
border:2px solid #292929;
}

.dark-mode #Gform input[type=submit]{
color:#292929;
background:#ebebeb;
border:2px solid #292929;
}

.dark-mode #Gform label{
color:#292929;
}

//education tab






